<div class="card" style="width: 18rem; height: 100%;">

    <%= image_tag(customer.image, :height => "400px") %>

    <div class="card-body">
        <h3 class="card-title"><%= customer.full_name %></h3>
        <p class="card-text"><%= customer.phone_number %></p>
        <p class="card-text"><%= customer.email %></p>
        <p class="card-text"><%= customer.notes %></p>
    </div>
</div>