<div class="card" style="width: 18rem;">

    <%= image_tag customer.image %>

    <div class="card-body">
        <h3 class="card-title"><%= customer.full_name %></h3>
        <p class="card-text"><%= customer.phone_number %></p>
        <p class="card-text"><%= customer.email %></p>
        <p class="card-text"><%= customer.notes %></p>
    </div>
</div>